#header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    display: inline-block;
    margin-right: 1.5rem;
    font-family: $header-font;
  }

  .logo {
    font-size: 2rem;
    margin: 0;
  }
}

#content {
  margin: 8rem auto;
}
