<!DOCTYPE html>
<html lang="en-gb">
  {{ partial "head.html" . }}
  <body class="resume-body">

    {{ partial "sidebar.html" . }}

    <div class="content resume">
        <h2>About</h2>
        <p>
            I am a developer with an entrepreneurial mind and a good eye for UX.
        </p>
        <p>
            I've started programming in middle school and I've been using Python as my main language after discovering it in 2011, mainly with Django and Flask.
            I've tried other languages (Ruby, PHP, C# and Java) but am currently sticking with Python, JavaScript, Rust and a bit of
            Go.
        </p>
        <p>
            I speak French (native), English (fluent), a bit of Japanese (upper beginner) and can understand Italian.
        </p>
        <p>
            I have experience working remotely and in-house, both as a solo developer and in small teams.
        </p>

        <h3>Experience</h3>

        <div class="resume__experience">
            <div class="meta">
                <div class="upper-row">
                    <h4 class="job-title">Director</h4>
                    <div class="period-time">2014 - Now</div>
                </div>
                <div class="company">
                    We Are Wizards — London/Remote — <a href="https://wearewizards.io/" target="_blank">https://wearewizards.io/</a>
                </div>
            </div>
            <div class="description">
                <p>
                    We Are Wizards is a tech agency I co-founded in London. My main focus was to work on MVPs (full product or independent features)
                    for clients, typically using JavaScript and Python.
                </p>
                <p>
                    We also developed <a href="https://proppy.io" target="_blank">Proppy</a> (https://proppy.io),
                    a product to scratch our own itch as an agency: the proposal writing experience.
                    It has been featured in <a href="https://www.producthunt.com/tech/proppy">ProductHunt</a> (https://www.producthunt.com/tech/proppy)
                </p>
            </div>
        </div>

        <div class="resume__experience">
            <div class="meta">
                <div class="upper-row">
                    <h4 class="job-title">Contractor</h4>
                    <div class="period-time">2014</div>
                </div>
                <div class="company">
                    London/Remote
                </div>
            </div>
            <div class="description">
                <h5>Django developer at Timetric (6 months)</h5>
                <ul>
                    <li>Improvement/bug fixing of excel <=> postgres data transfers</li>
                    <li>Machine learning pipeline optimisation</li>
                    <li>Elasticsearch queries/optimisations</li>
                    <li>Postgres tuning</li>
                </ul>
                <h5>Front-end developer at Service Trade (2 months)</h5>
                <ul>
                    <li>Adding features/design to the tablet version of the app using EmberJS</li>
                    <li>Working remotely with the team in the US</li>
                </ul>
            </div>
        </div>


        <div class="resume__experience">
            <div class="meta">
                <div class="upper-row">
                    <h4 class="job-title">Django/JavaScript/Go developer</h4>
                    <div class="period-time">2013 - 2014</div>
                </div>
                <div class="company">
                    Green Man Gaming — London — <a href="https://www.greenmangaming.com/" target="_blank">https://www.greenmangaming.com/</a>
                </div>
            </div>
            <div class="description">
                <ul>
                    <li>
                        Maintenance, new features and optimisation of the Green Man Gaming shop and
Playfire (Django + jQuery)
                    </li>
                    <li>
                        Main developer of Playfire 4 Web widgets (third-party javascript to interact with
Playfire): initial framework using Browserify, easyXDM (Grunt for the build) and
applied it to widgets like blog comments and want button
                    </li>
                    <li>
                        Development of a Steam scraper in Go (using CouchDB for database)
                    </li>
                </ul>
            </div>
        </div>

        <div class="resume__experience">
            <div class="meta">
                <div class="upper-row">
                    <h4 class="job-title">OpenERP developer</h4>
                    <div class="period-time">2012</div>
                </div>
                <div class="company">
                    Aquasys — Okinawa, Japan — <a href="https://wearewizards.io/" target="_blank">https://wearewizards.io/</a>
                </div>
            </div>
            <div class="description">
                <p>
                    Design and implementation of solutions for specific customers requirements.
                </p>
            </div>
        </div>

        <div class="resume__experience">
            <div class="meta">
                <div class="upper-row">
                    <h4 class="job-title">DBA (Internship)</h4>
                    <div class="period-time">2011</div>
                </div>
                <div class="company">
                    CGI — Montréal — <a href="https://www.cgi.com" target="_blank">https://www.cgi.com/</a>
                </div>
            </div>
            <div class="description">
                <ul>
                    <li>sh scripts to monitor a PostgreSQL database</li>
                    <li>Python script to insert several Excel files in a MySQL database</li>
                    <li>Self-training for DB2</li>
                    <li>
                        Python script to get capacity metrics of MySQL, PostgreSQL, SQL Server and Oracle via SQL and Django dashboard to display the results
                    </li>
                </ul>
            </div>
        </div>

    </div>

  </body>
</html>
