{% extends "index.html" %}

{% block content %}
    <div class="post-list">
        <h1>All posts</h1>

        {% for year, posts in section.pages | group_by(attribute="year") %}
            <h2>{{ year }}</h2>

            <ul>
            {% for post in posts %}
                <li><a href="{{ post.permalink }}">{{ post.title }}</a></li>
            {% endfor %}
            </ul>
        {% endfor %}
    </div>
{% endblock content %}
