{% extends "index.html" %}

{% block content %}
    <div class="projects">
        <h2>For profit</h2>
        <div class="projects-container">
            <div class="project">
                <img class="project__logo" src="proppy-logo.png" alt="Proppy" height="60px">
                <h3>Proppy (2016 - now)</h3>
                <p>
                    <a href="https://proppy.io">Proppy</a> is a tool to make the whole proposals process less painful. No more back and forth via emails and
                    simple looking proposals. Proppy gets everyone great looking proposals out of the box with e-signatures and
                    analytics so you spend less time writing proposals and more time doing work.
                    <br>
                    Proppy has been featured on ProductHunt and on various magazines and newsletters.
                </p>
            </div>
            <div class="project">
                <img  class="project__logo" src="hizard-logo.png" alt="Hizard" height="60px">
                <h3>Hizard (2014)</h3>
                <p>
                    Hizard was a webapp to facilitate hiring at small companies by making it collaborative.
                    It offered a job portal and a way to track applicants, their current status and what your colleagues thought
                    of each applicant. <br>
                    It was at the MVP phase (code available on <a href="https://github.com/hizardapp/Hizard">github</a>)
                    and we were demo-ing to a few companies but ultimately stopped working on it for lack of time.
                </p>
            </div>
        </div>
        <h2>Open-source</h2>
        <div class="projects-container">
            <div class="project">
                <h3>Tera</h3>

                <div class="badges">
                    <img src="https://img.shields.io/github/stars/Keats/tera.svg?style=flat-square" alt="Number stars for Tera">
                    <img src="https://img.shields.io/crates/d/tera.svg" alt="Number dl for Tera">
                </div>

                <p>A template engine written in Rust inspired by Jinja2 and the Django templates.</p>
                <p>Repository: <a href="https://github.com/Keats/tera">https://github.com/Keats/tera</a></p>
            </div>

            <div class="project">
                <h3>jsonwebtoken</h3>

                <div class="badges">
                    <img src="https://img.shields.io/github/stars/Keats/rust-jwt.svg?style=flat-square" alt="Number stars for jsonwebtoken">
                    <img src="https://img.shields.io/crates/d/jsonwebtoken.svg" alt="Number dl for jsonwebtoken">
                </div>

                <p>Strongly typed JWTs for Rust.</p>
                <p>Repository: <a href="https://github.com/Keats/rust-jwt">https://github.com/Keats/rust-jwt</a></p>
            </div>

            <div class="project">
                <h3>dbmigrate</h3>

                <div class="badges">
                    <img src="https://img.shields.io/github/stars/Keats/dbmigrate.svg?style=flat-square" alt="Number stars for dbmigrate">
                    <img src="https://img.shields.io/crates/d/dbmigrate.svg" alt="Number dl for dbmigrate">
                </div>

                <p>CLI tool to manage SQL migrations for MySQL, PostgreSQL and Sqlite</p>
                <p>Repository: <a href="https://github.com/Keats/dbmigrate">https://github.com/Keats/dbmigrate</a></p>
            </div>

            <blockquote>See <a href="https://github.com/Keats">my Github profile</a> for the full list.</blockquote>
        </div>
    </div>
{% endblock content %}
